%p#notice= notice

%p
  %b Nickname:
  = @pair_place.nickname
%p
  %b Street:
  = @pair_place.street
%p
  %b City:
  = @pair_place.city
%p
  %b Country:
  = @pair_place.country

= link_to 'Edit', edit_pair_place_path(@pair_place)
\|
= link_to 'Back', pair_places_path
