.offset2.span6
  .well
    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"} ) do |f|
      .control-group
        .control-label
          = f.label :email
        .controls
          = f.email_field :email, :autofocus => true
      .control-group
        .control-label
          = f.label :password
        .controls
          = f.password_field :password
      / - if devise_mapping.rememberable?
      /   %div
      /     = f.check_box :remember_me
      /     = f.label :remember_me
      .actions.text-center
        = f.submit "Sign in", :class => "btn btn-success"
      .text-center= render "devise/shared/links"
