%h1 Listing places

%table
  %tr
    %th Nickname
    %th Street
    %th City
    %th Country
    %th
    %th
    %th

  - @places.each do |place|
    %tr
      %td= place.nickname
      %td= place.street
      %td= place.city
      %td= place.country
      %td= link_to 'Show', place
      %td= link_to 'Edit', edit_place_path(place)
      %td= link_to 'Destroy', place, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New place', new_place_path
