!!!
%html
  %head
    =favicon_link_tag "/favicon.ico"

    %title PairSeed - Code, together.
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    
    =favicon_link_tag "/apple-touch-icon.png", :rel => "apple-touch-icon"
    =favicon_link_tag "/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"
    =favicon_link_tag "/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %ul.nav
            .brand=link_to "PairSeed", root_path
            %li=link_to "User Feedback!", "https://docs.google.com/document/d/1Ba9vZowwGPqCt974wt2kbhohiKYAKDjEJmeUeQ9QMxw/edit?usp=sharing", :target => "blank"
          .pull-right
            =link_to "Add Topic", new_topic_path, :class => "btn btn-success" unless !user_signed_in?
            -if user_signed_in?
              .btn-group
                =link_to("#",{:class => "btn dropdown-toggle", :"data-toggle" => "dropdown"}) do
                  =current_user.full_name
                  %span.caret
                %ul.dropdown-menu{"aria-labelledby" => "dLabel", :role => "menu"}
                  %li=link_to "My Places", "", :tabindex => "-1"
                  %li=link_to "My Settings", edit_user_registration_path, :tabindex => "-1"
                  %li=link_to "Sign Out", destroy_user_session_path, :method => :delete, :tabindex => "-1"
            -else
              =link_to "Sign In", new_user_session_path
              |
              =link_to "Sign Up", new_user_registration_path


    .container
      .row
        - flash.each do |name, msg|
          %div{:class => "offset4 span4 alert alert-#{name == :notice ? "success" : "error"}"}
            %a.close{"data-dismiss" => "alert"} ×
            = msg
      .row
        - unless !user_signed_in?
          .span2
            %ul.nav.nav-list
              / %li.nav-header
              /   Pair Topics
              %li{:class => "#{ "active" unless params[:action] != "theirs"}"}
                =link_to "Recent Topics", their_topics_path
              %li{:class => "#{ "active" unless @current_page != "my_topics" }"}
                =link_to "My Topics", topics_path
              %li{:class => "#{ "active" if (controller_name == "appointments" && controller.action_name == "index") }"}
                =link_to "Pair Appointments", appointments_path
              / %li{:class => "#{ "active" if (controller_name == "users" && controller.action_name == "index") }"}
              /   =link_to "User Profiles", users_path
              / %li.nav-header
              /   Pair Up
              / %li{:class => "#{ "active" unless @current_page != "my_requests" }"}
              /   =link_to "Requests", topics_path
              / %li.nav-header
              /   Pair People (that)
              / %li{:class => "#{ "active" unless @current_page != "pair_friends"}"}
              /   =link_to "I Follow", ""
              / %li{:class => "#{ "active" unless @current_page != "pair_friends"}"}
              /   =link_to "Follow Me", ""
              / %li.nav-header
              /   Pair Communities
              / %li{:class => "#{ "active" unless @current_page != "pair_friends"}"}
              /   =link_to "The Starter League", ""
              / %li{:class => "#{ "active" unless @current_page != "pair_friends"}"}
              /   =link_to "Dev Bootcamp", ""
              / %li{:class => "#{ "active" unless @current_page != "pair_friends"}"}
              /   =link_to "Chicago Ruby", ""
            

        .span10
          =yield
    %footer
    %script 
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-40386746-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
